# Part 1: Introduction to Jupyter

Hello! This is Jupyter notebooks, a platform we will be using for this course to access and complete data-intensive assignments. In this course, these assignments will be designed to give you familiarity with how to use the programming language `R` to make sense of large amounts of data, to verify and interpret statistics you encounter, and

## Jupyter Functionalities

### Running a cell
Try running the cell below by pressing (`Command` + `Enter`) on Mac or (`Control` + `Enter`) on Windows.

In [ ]:
# RUN THIS CELL
print("hello world")

### Changing the format of a cell

Cells in Jupyter can be code chunks or markdown chunks. Markdown (like this code chunk) is used to present text in a formatted manner. Learning markdown is outside the scope of this class, but in case you accidentally change the formatting of a cell in an assignment, practice changing the cell below from code to markdown. Then from markdown back to code.

In [ ]:
### CHANGE ME TO MARKDOWN
### THEN BACK TO CODE

### Inserting Cells Above and Below
If you want to insert cells above or below, press `A` for above, and `B` for below. Try inserting a cell below this cell.

### Saving your work
`Command` + `S` to save your work. Try saving this file (the save status is indicated at the bottom bar)

---

## Part 2: Introduction to R
We might not get through this entire section, but it should be relatively straightforward to go through on your own at home.

## **R Foundations**
This is an incredibly brief overview of R tailored to the needs of this class. Look at the bcourses for some additional R resources.
We will learn:
1. What are packages and functions in R?
2. How do you look up functions?
3. What are the data types in R?
4. What are vectors in R?
5. What are the operators in R?


### What are Packages? Why do I need them?

Packages are a collection of functions in R. Packages are stored in libraries. The terms package and library are sometimes used synonymously. You load a package using `library(package_name)`.

 In each assignment, you will run a code chunk that loads packages. These are packages that others have developed to make our lives easier. Rather than having to write code from scratch for complex problems, others have already simplified the process for us.

In [ ]:
# RUN THIS CELL

# install.packages("testthat")
# install.packages("tidyverse")

library(testthat) 
library(tidyverse)



### What are Functions?
Just like in math, you give a function an input (aka parameter) and then it will return a specified transformation of the function. Parameters are always surrounded by `()`.

In math, this would look like...

$$f(x) = x * 2$$

Let's take a look at some basic functions below. What does each one do?

In [ ]:
# TODO: CHANGE THE PARAMETER
print("change me, I am a parameter")

In [ ]:
# TODO: CHANGE THE INPUT
sum(c(1, 2, 3))

In [ ]:
# TODO: CHANGE THE INPUT
mean(c(1, 2, 3, 4, 5))

In [ ]:
# TODO: CHANGE THE INPUT
median(c(1,2,3,4,5))

In [ ]:
# TODO: CHANGE THE INPUT
max(c(1,2,3,4,5))

### Looking up Functions
If you do not know what a function does, or what parameters a function takes, you can look it up by using `?function_name`. For example...

You can also google! There is a lot of documentation for R online.

In [ ]:
## TODO: RUN THIS CELL
?sum

--- 

### Data Types
There are different data types in R. The main ones we will be working with are:

1. Characters, denoted by "quotation marks"
2. Integers, numeric with no decimals
3. Doubles, numeric with decimals
4. Logicals, `TRUE` or `FALSE`, `T` or `F`

In [ ]:
# character
"hey hey"

# integer
1

# double
1.5

# logical
TRUE
FALSE
T
F

**Look at the code block below. Why is it throwing an error?**

In [ ]:
sum("1", "2")

In [ ]:
# TO DO: Fix the error in the code block above

sum("1", "2") # FIX THIS CODE

**In any coding language, TRUE is equivalent to 1, and FALSE is equivalent to 0. So we can actually do the following.**

In [ ]:
sum(TRUE, TRUE, FALSE)

### Variables
We often want to assign values to a variable. We can do so by using the assignment operator `<-`. For good practice, we want to use variable names that are meaningful.

In [ ]:
# string
country_name <- "Argentina"

# integer
n_friends <- 10
n_family <- 3 

# double
mph <- 60.5

# logical
include <- TRUE

We can use variable names as a substitute for values in function.

In [ ]:
# using the sum() function
sum(n_friends, n_family)

In [ ]:
# using the print() function
print(country_name)

In [ ]:
# using math operators
n_friends + n_family
n_friends - n_family

### Vectors
We can store multiple variables together in vectors.

In [ ]:
# EXAMPLES
fruits <- c("Apple", "Banana", "Avocado")
scores <- c(80, 75, 100, 96, 100)
mixed_data_types <- c("Apple", 80)

In [ ]:
# TO DO: Create your own vector of your hobbies, naming it my_hobbies

my_hobbies <- NULL # REPLACE

We can run functions on vectors

In [ ]:
# EXAMPLES

# take the mean of the scores
mean(scores)

# sort the fruits in alphabetical order
sort(fruits)

In [ ]:
# TO DO: Sort your hobbies in alphabetical order

---
## Operators

R categorizes into:
* Arithmetic operators 
    * `+` : Add
    * `-` : Subtract
* Assignment operators
    * `<-`: Assignment operator (as reviewed above)
* Comparison operators
    * `!=`: Does not equals
    * `>=`: Greater than or equal to
    * `<=`: Less than or equal to
    * `>`: Greater than
    * `<`: Less than
* Logical operators
    * `|` : OR - returns true if at least one is TRUE
    * `&` : AND - returns true if both are TRUE
* Miscellaneous operators

In [ ]:
# EX: TRUE OR FALSE
TRUE | FALSE

# TO DO: FALSE OR FALSE

In [ ]:
# EX: TRUE AND FALSE
TRUE & FALSE

# TO DO: FALSE AND FALSE

In [ ]:
# EX: "A" EQUALS "A"
"A" == "A"

# TO DO: "A" EQUALS "B"

In [ ]:
# EX: "A" DOES NOT EQUALS "A"
"A" != "A"

# TO DO: "A" DOES NOT EQUAL "B"

In [ ]:
# EX: 2 GREATER THAN OR EQUAL TO 1
2 >= 1

# TO DO: 2 LESS THAN 1

## Next Time
Keep building on these fundamentals, and start working with datasets in R. Next discussion session will be designed to help you get through your first problem set.

# Practice Submitting to Gradescope

In [ ]:
ottr::export("discussion1.ipynb")