# Reading in Datasets, Subsetting Data, Summarising

In [ ]:
# RUN THIS CELL
# Load packages
library(testthat)
library(tidyverse) %>% suppressMessages()

Functions we will be learning
- `read.csv(filename)`: reads in a dataframe
- `head()`: displays first 6 rows
- `ncol()`, `nrow()`
- `%>%`: pipe operator, passes on the previous output into the next function

How do you subset?
1. Use `filter()` to subset to the rows you want
2. Use `select()`to subset to the columns you want

How do find the summary statistics of a column?
1. Use `summarise()` to find summary statistics like `mean()` of a column

---
## Reading in Dataframes
The function for reading in a dataset is `read.csv(filename)`

In [ ]:
# read in the dataframe
ctdc <- read.csv("2024_CTDC_synthetic.csv")

## Previewing Datasets with the `head()` function
b) You can preview the first few rows of the dataframe by using the function `head(df_name)`. You can also specify the number of rows you want to look at using `head(df_name, N)`

In [ ]:
# preview first 6 rows
head(ctdc)

## Get dimensions of a dataset

Use  `ncol(df_name)` to get the number of columns

In [ ]:
# YOUR ANSWER HERE
number_columns <- NULL # YOUR CODE HERE

# display
number_columns

In [ ]:
. = ottr::check("tests/Q1a.R")

Use `nrow(df_name)` to get the number of rows

In [ ]:
# YOUR ANSWER HERE
number_rows <- NULL # YOUR CODE HERE

# display
number_rows

In [ ]:
. = ottr::check("tests/Q1b.R")

## What is this data?

What is each row? What is each column?

In [ ]:
# what are the column names?
ctdc %>% colnames()

In [ ]:
# preview the first 6 rows
head(ctdc)

---
### Our Task: How do traffickers control their victims?
We just saw some qualitative descriptions of some forms of trafficking. Now we want to conceptualize how representative it is of the broader experience of trafficking. In other words, **we want to characterize the means of control that are used by traffickers**.

**What is our population of interest?**

a. All reported cases\
**b. Confirmed cases of trafficking**

### 1) When you want to subset to certain **rows**, use `filter()`

 Our dataset includes all reported cases (not just the confirmed cases of trafficking). Let's select only the individuals (each person represented by a row) who are confirmed victims of trafficking.

In [ ]:
# EXAMPLE CODE CHUNK #1
# subset to cases of confirmed trafficking
ctdc_confirmed <- ctdc %>% filter(isSexualExploit == 1 | isForcedLabour == 1 | isOtherExploit == 1) 

# display
head(ctdc_confirmed)

### 2) When we only want certain **columns**, we use select() to select the relevant columns

We are only interested in the means of control, so lets get rid of all the extra columns.

In [ ]:
# EXAMPLE CODE CHUNK #2
ctdc_means <- ctdc_confirmed %>% select(meansDebtBondageEarnings,
                                       meansThreats,
                                       meansAbusePsyPhySex,
                                       meansFalsePromises,
                                       meansDrugsAlcohol,
                                       meansDenyBasicNeeds,
                                       meansExcessiveWorkHours,
                                       meansWithholdDocs,
                                       meansSum)
# Display
ctdc_means

**Shortcut Alert!** There's actually a shortcut with this code. Replace `df` with the appropriate dataframe (hint: we just created it in example code chunk #1!)

`df %>% select(starts_with("means"))`

In [ ]:
# YOUR ANSWER HERE
ctdc_means_sc <- NULL # YOUR CODE HERE

# Display
ctdc_means_sc

In [ ]:
. = ottr::check("tests/Q2.R")

### 3) Finding averages of columns using `summarise()` and `mean()`

Look at the dataframe `ctdc_means` above, and look at the column names. They are various means of control. I want to find the average of `meansDebtBondageEarnings`.

What would this average represent? In this case, the average is equivalent to the proportion of cases that experienced that MOC. The function used is the `summarise()` and `mean()` function, which is formatted:

`df %>% summarise(new_column_name = mean(existing_column_name, na.rm = T)`

In [ ]:
# EXAMPLE CODE CHUNK #3
ex_ctdc_means_summary <- ctdc_means %>% summarise(
    # mean of the debt bondage column
    meansDebtBondageEarnings = mean(meansDebtBondageEarnings, na.rm = T))

# display
ex_ctdc_means_summary

Your turn! Pick you can summarise multiple columns simulaneously by adding another line. 

    df %>% summarise(
        column1 = mean(column1, na.rm = T),
        column2 = mean(column2, na.rm = T))

Find the means of `meansAbusePsyPhySex` and `meansFalsePromises`. 

How would you interpret these values?

In [ ]:
# YOUR ANSWER HERE
# Taking the mean of multiple columns

ex_ctdc_means_summary <- NULL # YOUR CODE HERE

# display output
ex_ctdc_means_summary

In [ ]:
. = ottr::check("tests/Q3.R")

## No Action Needed: Plotting Data
Looking at the plot, what were the most commonly reported means of control in this dataset?

In [ ]:
ctdc_means  %>% summarise_all(mean, na.rm = T) %>% 
select(-meansSum) %>%
pivot_longer(cols = starts_with("mean"),
                        names_to = "means_of_control",
                        values_to = "proportion") %>%
ggplot(aes(x = reorder(means_of_control, proportion), y = proportion)) + 
labs(x = "Means of Control") +
geom_bar(stat = "identity", width = 0.5) +
theme_bw(base_size = 30) + coord_flip()

---
### Practice Time!
**Question to investigate: In this dataset, which means of control appear gendered?**

We already have a dataset of confirmed cases called `ctdc_confirmed`. See below.

In [ ]:
head(ctdc_confirmed)

#### 1) Practice using the filter() function. 
**Use filter() to create two dataframes. One for each gender category.**

**Step 1:** See the second column named `gender`, filter the confirmed cases dataframe to where `gender == "Woman"`

    ctdc_woman <- ctdc_confirmed %>% filter(gender == "Woman"))

In [ ]:
# YOUR ANSWER HERE
ctdc_woman <- NULL # YOUR CODE HERE

# display
head(ctdc_woman)

In [ ]:
. = ottr::check("tests/Q4.R")

**Step 2:** Now create the same thing but for `"Man"`. In other words, from `ctdc_confirmed`, filter to where `gender == "Man"`

In [ ]:
# YOUR ANSWER HERE
ctdc_man <- NULL # YOUR CODE HERE

# display
head(ctdc_man)

In [ ]:
. = ottr::check("tests/Q5.R")

#### 2) For both dataframes, use `select()` to select the columns that start with "means"

In [ ]:
# YOUR ANSWER HERE
# select the columns that start with "means" for the woman dataframe
ctdc_woman_means <- NULL # YOUR CODE HERE

# select the columns that start with "means" for the woman dataframe
ctdc_man_means <- NULL # YOUR CODE HERE

In [ ]:
. = ottr::check("tests/Q6.R")

Below are the first five rows of the dataframe `ctdc_woman_means` that you created.

In [ ]:
head(ctdc_woman_means)

#### 3) Comparing the means from the two subsets using `summarise()`

In the example code chunk below, I am finding the means of all MOCs for the female dataframe.

In [ ]:
# EXAMPLE CODE
# find the averages of all eight means of control (MOC) included in the dataset for WOMEN
ctdc_woman_means_summary <- ctdc_woman_means %>% summarise(
        meansDebtBondageEarnings = mean(meansDebtBondageEarnings, na.rm = T),
        meansThreats = mean(meansThreats, na.rm = T),
        meansAbusePsyPhySex = mean(meansAbusePsyPhySex, na.rm = T),
        meansFalsePromises = mean(meansFalsePromises, na.rm = T),
        meansDrugsAlcohol = mean(meansDrugsAlcohol, na.rm = T),
        meansDenyBasicNeeds = mean(meansDenyBasicNeeds, na.rm = T),
        meansExcessiveWorkHours = mean(meansExcessiveWorkHours, na.rm = T),
        meansWithholdDocs = mean(meansWithholdDocs, na.rm = T))

ctdc_woman_means_summary

**Now you do the same exact thing, but for the male dataframe.**

Hint: If you don't want to type it all out, just copy paste the example code above, but there is variable you would need to change. What is it?

In [ ]:
# YOUR ANSWER HERE
# find the averages of all eight means of control (MOC) included in the dataset for MEN
ctdc_man_means_summary <- NULL # YOUR CODE HERE

# DISPLAY
ctdc_man_means_summary

In [ ]:
. = ottr::check("tests/Q7.R")

---
#### No action needed, the cell below makes a plot

In [ ]:
# Plotting results
ctdc_woman_means_summary %>% mutate(gender = "Woman") %>%
    # manipulating the data
    rbind(ctdc_man_means_summary %>% mutate(gender = "Man")) %>%
    pivot_longer(starts_with("means"), names_to="MeanOfControl", values_to = "Proportion") %>%
    # plotting starts here
    ggplot(aes(x = MeanOfControl, y = Proportion, fill = gender)) +
    # barplot
    geom_bar(stat = "identity", position = position_dodge(), width = 0.3)+ 
    # changes to formatting
    theme_bw(base_size = 30) + coord_flip()

<!-- BEGIN QUESTION -->

What means of trafficking appear gendered in this dataset? Is it consistent with what we've been reading? If not, what do you think could account for the differences?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

---

# Summary
- `read.csv(filename)`: reads in a dataframe
- `head(df_name)`: displays first 6 rows
- `ncol(df_name)`, `nrow(df_name)` : return number of rows/columns of a dataframe, respectively
- `%>%`: pipe operator, passes on the previous output into the next function

How do you subset?
1. Use `filter(insert_condition)` to subset to the rows you want
2. Use `select(column_names)`to subset to the columns you want

How do find the summary statistics of a column?
1. Use `summarise()` to find summary statistics like `mean()` of a column

Together, it would look like...

    df %>% filter(condition) %>%
            select(columns) %>%
            summarise(column_name = mean(existing_column_name, na.rm = T))

**Bonus: What proportion of reported sexual exploitation are of women? In this dataset, its 84%.**

In [ ]:
ctdc %>% filter(isSexualExploit ==1) %>%
    select(gender) %>% 
    summarise(prop_female = mean(gender == "Woman", na.rm = T))