In [ ]:
# RUN THIS CELL
# Load packages
library(testthat)
library(tidyverse) %>% suppressMessages()

### group_by() and arrange() Example

Read in data

In [ ]:
ex_dat <- read.csv("hk_data_section.csv")
head(ex_dat)

**1) Find the count for each educational level in this dataset**

In [ ]:
educ_summary <- ex_dat %>% 
                group_by(educ) %>%
                summarise(count = n())
# display
educ_summary

**2) Arrange in ascending order order**

In [ ]:
# arrange educ_summary in ascending order by count
educ_summary_sorted_asc <- educ_summary %>% arrange(count)

# display
educ_summary_sorted_asc

**3) Arrange in descending order order**

In [ ]:
# arrange educ_summary in descending order by count
educ_summary_sorted_desc <- educ_summary %>% arrange(desc(count))

# display
educ_summary_sorted_desc

Done:)

Now let's try finding the average knowledge score across the `birth_urbanrural` groups for **Filipina** migrants in the **control** group.

In [ ]:
ex_dat %>% 
    filter(nationality == "The Philippines" & treated == 0) %>%
    group_by(birth_urbanrural) %>%
    summarise(avg_score = mean(score, na.rm = T))

---
### Practice Problems

**Q1)** Use `read.csv(...)` to read in the dataset that is stored in a file called "hk_data_section.csv" and store it in `hkdat`. This is data from Professor Mo's Hong Kong Study. 

* `treated`: 1 if received awarness poster, 0 if in control group
* `score`: 0-1 value of their score on the knowledge test. 1 is a perfect score and takes on decimal values in between 0-1.
* Other variables of interest can be seen if you display `head(hkdat)`

In [ ]:
hkdat <- NULL # YOUR CODE HERE

# view the dataset
head(hkdat)

In [ ]:
. = ottr::check("tests/Q1.R")

**Q2)** Use the `group_by()` function to count the number of individuals in the treated and control group (column name is `treated`). \
Coding template:

        df %>% group_by(...) %>%
            summarise(count = ...)

In [ ]:
# YOUR ANSWER HERE
count_treated<- NULL # YOUR CODE HERE

# DISPLAY
count_treated

In [ ]:
. = ottr::check("tests/Q2.R")

**Q3)** Use the `group_by()` function to calculate the average knowledge score for those in the treatment and control group. Column names are `score` and `treated`

Coding template:

        df %>% group_by(...) %>%
            summarise(avg_score = mean(..., na.rm = T))

In [ ]:
# YOUR ANSWER HERE
avg_score_treated <- NULL # YOUR CODE HERE

# DISPLAY
avg_score_treated

What is the difference between these two groups's knowledge scores? What value does this equal?

_Your answer here_

In [ ]:
. = ottr::check("tests/Q3.R")

**Q4)** Use `lm()` to calculate the relationship between the treatment status (IV) and the knowledge score (DV). 

Coding template:

        lm(dv ~ iv, data = ...)

In [ ]:
# YOUR ANSWER HERE
mod <- NULL # YOUR CODE HERE

# DISPLAY
summary(mod)

(i) What is the $\beta_1$ value. Does this equal the difference in average scores you got from from part 2?\

(ii) Given what we know about this HK study (Boittin and Mo 2024), can we say this is a causal relationship between the treatment (awareness poster) and the outcome score (knowledge about rights of migrant domestic workers)? Why?

_Your answer here_

In [ ]:
. = ottr::check("tests/Q4.R")

**Q5)** Use `read.csv(...)` to read in the dataset stored in a file named `"2024_CTDC_synthetic.csv"` in an object called `ctdc`.

In [ ]:
# YOUR ANSWER HERE
ctdc <- NULL # YOUR CODE HERE

# DISPLAY
head(ctdc)

In [ ]:
. = ottr::check("tests/Q5.R")

**Q6)** Use `filter()` to find the following observations from your `ctdc` dataset:

Victims that are **confirmed for Sex Trafficking** and were **exploited in Thailand** ("THA"). Column names of interests are `isSexualExploit` and `CountryOfExploitation`)


Coding template:

        df %>% filter(colname1 == ... & colname2 == ...)

In [ ]:
# YOUR ANSWER HERE
tha_sex_victims <- NULL # YOUR CODE HERE

# DISPLAY
tha_sex_victims

In [ ]:
. = ottr::check("tests/Q6.R")

**Q7)** Find the distribution of age using `group_by()` and `summarise()` and `n()`. In other words, count the number of victims in `tha_sex_victims` that are in each age group (denoted by `ageBroad`)

In [ ]:
# YOUR ANSWER HERE
age_count <- NULL # YOUR CODE HERE

# DISPLAY
age_count

Why might some data be missing? When would you expect this to bias the results?

_Your answer here_

In [ ]:
. = ottr::check("tests/Q7.R")

**Q8)** Arrange yuor age distribution chart in descending order, by the count in each age group.

Code template:

        df_name %>% arrange(desc(...))

This is what `age_count` currently looks like.

In [ ]:
head(age_count)

In [ ]:
# YOUR ANSWER HERE
age_count_desc <- NULL # YOUR CODE HERE

# DISPLAY
age_count_desc

What age group is the most represented?

_Your solution here_

In [ ]:
. = ottr::check("tests/Q8.R")

If you finished this, feel free to go to the assignment and work on it:)