# Introduction to Jupyter

Hello! This is Jupyter notebooks, a platform we will be using for this course to access and complete data-intensive assignments. In this course, these assignments will be designed to give you familiarity with how to use the programming language `R` to make sense of large amounts of data, to verify and interpret statistics you encounter, and

## Loading Packages

In each assignment, you will run a cell (`Command` + `Enter`) that looks similar to the one below. These are packages that others have developed to make our lives easier. Rather than having to write code from scratch for complex problems, others have already simplified the process for us. We will go into this in more detail later. **Tl;dr: Whenever it says "# RUN THIS CELL", please run the cell.**

In [1]:
# RUN THIS CELL
library(testthat) 
library(estimatr)
library(dplyr)

Attaching package: ‘dplyr’


The following object is masked from ‘package:testthat’:

    matches


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Now that we have loaded the necessary packages for the assignment, let's move onto some R fundamentals.

## Q1:  Using variables to introduce yourself to us!

We store outputs in variables. Like `x` or `y` in math, these variables represent a value. The data type of these values can be numeric, characters (or "strings"), logicals/booleans (T/F), or a collection of the previous data-types (vectors, lists). 

See https://www.w3schools.com/r/r_data_types.asp for more details. 

We store variables by using the assignment operator `<-`. For example...

In [2]:
# RUN THIS CELL

# numeric
a <- 1

# character
b <- "i love coding"

# logical/boolean 
## There are two ways to store booleans, and they mean the exact same thing
c <- TRUE
d <- T 

# vector
myVec <- c(1, 2, 3)

Then we can retrieve the values by typing the variable name.

In [3]:
# Use this cell to play around with assigning, retrieving, and changing variables.
c

[1] TRUE

### Q1) Creating variables

* Create a variable `age` that stores your age (numeric)
* Create a variable `my_name` that stores your name (character)
* Create a variable `fun_fact` that stores a fun fact about yourself (character)
* Create a variable `female` that indicates `TRUE` or `FALSE` if you identify as female (logical/boolean)

In [7]:
age <- 24 # YOUR CODE HERE
my_name <- "maya" # YOUR CODE HERE
fun_fact <- "i like cats" # YOUR CODE HERE
female <- TRUE # YOUR CODE HERE
bio <- c(age, my_name, fun_fact, female) # YOUR CODE HERE

In [8]:
. = ottr::check("tests/q1.R")

All tests passed!

## Q3: Loading datasets

In this class, we are going to work with various datasets that are released by international organizations, NGOs, and academics. With the proliferation in data and "data backed" practices, it's important that we undo the blackbox of big data to understand how numbers are calculated and interpreted. People hold their biases and agendas, so it is always important to be critical of the numbers we see rather than blinding trusting them. We use these raw datasets to try to replicate and understand how these numbers came about. 

In the data directory, there is a dataset named `ctdc_vp_2021.csv`.

In [9]:
ctdc <- read.csv("ctdc_vp_2021.csv")
head(ctdc)

  yearRegister gender majorityStatus isForcedLabour isSexualExploit
1              Female Adult          1              NA
2              Female Adult          1              NA
3              Female Adult          1              NA
4              Female Adult          1              NA
5              Female Adult          1              NA
6              Female Adult          1              NA
  UN_COO_Region UN_COE_Region IP_Exploiter IP_Gender   IP_ageBroad
1 Europe        Europe        1            Female;Male
2 Europe        Europe        1            Female;Male
3 Europe        Europe        1            Female;Male
4 Europe        Europe        1            Female;Male
5 Europe        Europe        1            Female;Male
6 Europe        Europe        1            Female;Male
  IP_citizen_UNRegion IP_Relation          IP_PayMoney IP_RecruiterBroker
1 Europe              StrangerUnknownOther No;Yes      1
2 Europe              StrangerUnknownOther No;Yes      1
3 Europe              StrangerUnknownOther No;Yes      1
4 Europe              StrangerUnknownOther No;Yes      1
5 Europe              StrangerUnknownOther No;Yes      1
6 Europe              StrangerUnknownOther No;Yes      1
  IP_TransactionProcess IP_ControlAbuseKidnap
1 1                     1
2 1                     1
3 1                     1
4 1                     1
5 1                     1
6 1                     1

I've given you the code on how to do this, now you try! i.e. Replicate what I just did but store it in a variable called `ctdc_my_attempt`

In [11]:
ctdc_my_attempt <- read.csv("ctdc_vp_2021.csv") # YOUR CODE HERE

In [12]:
. = ottr::check("tests/q3.R")

All tests passed!

# Submission

In [13]:
ottr::export("pset00.ipynb")